*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Bai Jamjuree', sans-serif;
   color : hsl(201, 11%, 66%);
   font-size: 18px ;
   line-height: 30px;
}
a{
   text-decoration: none;
}
h1{
   margin-bottom: 20px;
   font-size: 50px;
   color : hsl(210, 10%, 33%);
}
.container{
  box-sizing: initial;
   position: relative;
   max-width: 1440px;
   background-color: white;
   border: 1px solid #000;
   margin: 0 auto;
   margin-bottom: 200px;
}
.background{
   position: absolute;
   top:0;
   width: 100%;
   height: 363px;
}
#logo{
   display: block;
   margin: 130px auto;
  
}
.boxTitle{
   max-width: 800px;
   text-align: center;
   margin: 0px auto 50px;
}
.titleH2 h2{
   font-size: 35px;
   margin: 20px;
   color : hsl(210, 10%, 33%);
}
.titleH2 p{
   font-size: 16px;
}

.titleH3 h2{
   text-align: left;
   font-size: 28px;
   margin: 16px 0 5px;
   color : hsl(210, 10%, 33%);
}
.titleH3 p{
   text-align: left;
   /* margin: 20px 80px; */
   font-size: 14px;
}

.boxBtn{
   margin: 50px 0;
   display: flex;
   justify-content: center;
}
.btn{
   color : white;
      width : 230px;
      height: 55px;
      margin: 0 20px;
      border-radius: 25px;
      cursor: pointer;
}
.dlIos{
   background-color:  hsl(171, 66%, 44%);
}
.dlMac{
   background-color : hsl(233, 100%, 69%);
}

.fonctionality{
   margin: 100px 0;
   
   /* display: inline block; */
   max-width: 1440px;
  
   display: flex;
}
.imgDesktop{
   width: 50%;
   background-size: cover;
   /* height: 100%; */
 
}
.textfonctionality{
   margin-left: 8% ;
   padding-top: 50px;
   width: 20%;
   height: 100%;
 
}




.img-devices{
   display: block;
   margin: 20px auto;
}
.options{
   margin: 20px auto;
   max-width: 1200px;
   height: 500px;
}
.listOptions{
   width: 100%;
   height: 50%;
   display: flex;
   /* align-items: center; */
   align-content: center;
}
.boxOption{
   text-align: center;
   width: 70%;
}
.boxOption img{
   margin: 20px 0;
}
.boxOption h4{
   font-size: 22px ;
   margin-bottom: 10px;
   color: hsl(210, 10%, 33%);
}
.partenairs{
   width: 100%;
   height: 50%;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   align-items: center;
   align-content: center;
}
.partenairs img{
   justify-self: center;
 }
footer{
   margin: 150px auto 0;
   width: 100%;
   height: 150px;
   background-color: #F5F6F8;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.logoFooter{
   width: 55px;
   height: 55px;
}
.answers{
   width: 500px;
   height: 80px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 1fr;
   
}
.answers a{
   color : hsl(210, 10%, 33%);
}
.socials{
   width: 150px;
   height: 30px;
   display: flex;
   justify-content: space-between;
}
.socials img{
   width: 30px;
}